{% extends "base.html" %}

{% block page_content %}

<!-- Custom styles for this template -->
<main role="main" class="container">
    <form method="POST" class="player-form form-inline">
        <!-- <select class="col-md-1 custom-select my-1 mr-sm-2" id="first_name">
            <option selected>Name</option>
            <option value="1">Hiep</option>
            <option value="2">Jun</option>
            <option value="3">American League</option>
        </select> -->

    </form>
    
    <form method="POST" class="player-form form-inline">{% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary my-1">Submit</button>
    </form>

    <p>
        <hr />
<div id='map' width="100%" style='height:400px'>

 <img src= {{src}}>


</div>
<br>
<br>
    <p></p>




        <p></p>

        <div>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">College</th>
                        <th scope="col">High School</th>
                        <th scope="col">Height</th>
                        <th scope="col">Weight</th>

                        <th scope="col">Starter Year</th>
                        <th scope="col">All Conference Year</th>

                    </tr>
                </thead>
                <tbody>
                    {% for player in players %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{ player.first_name}}</td>
                        <td>{{ player.last_name}}</td>
                        <td>{{ player.College.Name }}</td>
                        <td>{{ player.High_School.Name }}</td>
                        <td>{{ player.Height }}</td>
                        <td>{{ player.Weight }}</td>

                        <td>{{ player.get_start_year }}</td>
                        <td>{{ player.get_conf_year }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</main><!-- /.container -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script>
    //$('.dropdown-toggle').dropdown();

    // Update text in dropdown
    $(".dropdown-menu a").click(function () {
        var parent = $(this).parents('.btn-group').find('.btn');
        var label = parent.data('value');
        parent.html('<span>' + label + ': ' + $(this).text() + '</span>');
        parent.val($(this).data('value'));
    });
</script>
{% endblock %}